
img {height: 200px;
    length: 200px}

body {background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;}

nav {color: ghostwhite;}

button {color: ghostwhite;}

#footer {
    height: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: ghostwhite;
    color: rgb(49, 48, 48);
    text-align: center
}